{{!< layout}}
<div class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
            <div class="aui-group">
                <div class="aui-item">
                    <div class="epic-name">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        AP.require('request', function(request){
          request({
            url: '/rest/jiraanywhere/1.0/servers',
            success: function(responseText){
              responseJson = JSON.parse(responseText);
              console.log(responseJson)
            }
          });
        });
    })
</script>